/deendi/node_modules
/deendi/public/hot
/deendi/public/storage
/deendi/storage/*.key
/deendi/vendor
/deendi/.env.backup
/deendi/.phpunit.result.cache
/deendi/Homestead.json
/deendi/Homestead.yaml
/deendi/npm-debug.log
/deendi/yarn-error.log